# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*
__pycache__/
*.py[cod]

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.sh
!bin
!custom_components/
!custom_components/*
!custom_components/**/*
!icons/
!icons/*
!extraconfig/
!extraconfig/*
!extraconfig/**/*
!packages/
!packages/*
!themes/
!themes/*


# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
