# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*
__pycache__/
**/__pycache__
**/__pycache__/*
**/.___pycache__
*.py[cod]
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.js
!*.svg
!*.md
!*.sh
!*.js
!*.svg
!bin
!custom_components/
!custom_components/*
!custom_components/**/*
!icons/
!icons/*
!extraconfig/
!extraconfig/*
!extraconfig/**/*
!packages/
!packages/*
!themes/
!themes/*
!www/
!www/*
!www/**/*

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
