language: python
addons:
    apt:
        packages:
            #see https://www.home-assistant.io/components/stream/#troubleshooting
            - autoconf
            - automake
            - libssl-dev
            - libxml2-dev
            - libxslt1-dev
            - libjpeg-dev
            - libffi-dev
            - libudev-dev
            - zlib1g-dev
            - python-dev
            - pkg-config
            - libavformat-dev
            - libavcodec-dev
            - libavdevice-dev
            - libavutil-dev
            - libswscale-dev
            - libavresample-dev
            - libavfilter-dev
            - build-essential
            - cmake
            - libass-dev
            - libfreetype6-dev
            - libtheora-dev
            - libtool
            - libvorbis-dev
            - libx264-dev
            - wget
            - yasm
cache:
  directories:
    - /home/travis/ffmpeg-3.2/
python:
  - "3.6.4"
before_install:
  - wget http://ffmpeg.org/releases/ffmpeg-3.2.tar.bz2
  - tar -xjf ffmpeg-3.2.tar.bz2
  - cd ffmpeg-3.2
  - ./configure --disable-static --enable-shared --disable-doc
  - make
  - sudo make install
  - cd ..
  
  - mv travis_secrets.yaml secrets.yaml
  - touch home-assistant_v2.db
  - touch home-assistant.log
  - sudo apt-get install -y libudev-dev
  - HA_VERSION=$(<.HA_VERSION)
  - pip3 install websocket-client
  - pip3 install -U setuptools
  - pip3 install colorlog
install:
  - pip3 install homeassistant==${HA_VERSION}
script:
  - hass -c . --script check_config
