- action:
  - data:
      entity_id: media_player.entryway_speaker
      language: en
      message: Starting Home Assistant on Raspberry Pi.
    service: tts.google_say
  alias: Home Assistant Starts
  condition:
  - after: 08:00:00
    before: '22:00:00'
    condition: time
  id: '1517943917170'
  trigger:
  - event: start
    platform: homeassistant
- action:
  - alias: ''
    entity_id: input_boolean.guy_home
    service: homeassistant.turn_on
  alias: guy_home Sensor On
  condition: []
  id: '1519076828273'
  trigger:
  - entity_id: device_tracker.samsung_s8_bt
    from: not_home
    platform: state
    to: home
  - entity_id: device_tracker.samsung_s8
    from: not_home
    platform: state
    to: home
- action:
  - alias: ''
    entity_id: input_boolean.guy_home
    service: homeassistant.turn_off
  alias: guy_home Sensor Off
  condition: []
  id: '1519076828223'
  trigger:
  - entity_id: device_tracker.samsung_s8_bt
    from: home
    platform: state
    to: not_home
  - entity_id: device_tracker.samsung_s8
    from: home
    platform: state
    to: not_home
- action:
  - data:
      message: Wellcome Home, Guy
      title: Home Assistant
    service: notify.slack_notifier
  - data:
      message: Wellcome Home, Guy.
      title: Home Assistant
    service: notify.ha_tele
  - data:
      entity_id: media_player.entryway_speaker
      language: en
      message: Hi Guy, Welcome Home
    service: tts.google_say
  alias: Guy is Home notification
  condition:
  - after: '16:00:00'
    before: '23:00:00'
    condition: time
  - condition: template
    value_template: '{{ as_timestamp(now()) - as_timestamp(states.input_boolean.guy_home.last_changed)  >
      60 }}'
  id: '1519112178736'
  trigger:
  - entity_id: input_boolean.guy_home
    from: 'off'
    platform: state
    to: 'on'
- id: e831f82d7c9c41b6b6497a5f3b2a239c
  alias: Guy is Home so move camera
  trigger:
  - entity_id: input_boolean.guy_home
    platform: state
    to: 'on'
  action:
  - service: shell_command.foscam_preset4
  - data: {}
    service: light.turn_off
- alias: Guy is Home so say hi
  trigger:
    platform: state
    entity_id: input_boolean.guy_home
    to: 'on'
  action:
  - data:
      entity_id: media_player.entryway_speaker
      language: en
      message: Hi Guy, Welcome Home
    service: tts.google_say
  condition:
  - condition: time
    after: '16:00:00'
    before: '23:00:00'
  - condition: template
    value_template: '{{ as_timestamp(now()) - as_timestamp(states.input_boolean.guy_home.last_changed)
      > 60 }}'
  id: a62888cfca0541ee9976c81ce609f417
- id: '1532549107910'
  alias: Anyone Home - Move Camera
  trigger:
  - entity_id: sensor.occupancy_status
    from: away
    platform: state
    to: home
  condition: []
  action:
  - service: shell_command.foscam_preset4
- id: '1550137864073'
  alias: Turn on the light on sunset
  trigger:
  - event: sunset
    platform: sun
  condition:
    condition: and
    conditions:
      - condition: time
        weekday:
          - sun
          - mon
          - tue
          - wed
          - thu
      - condition: state
        entity_id: 'sensor.guy_presence'
        state: 'away'
      - condition: state
        entity_id: 'sensor.meital_presence'
        state: 'away'
  action:
  - data:
      entity_id: light.xiaomi_philips_smart_led_ball
    service: light.turn_on
  - data:
      entity_id: switch.sonoff_10004bd3c1
    service: switch.turn_on
- id: 'ifttt'
  trigger:
    platform: event
    event_type: ifttt_webhook_received
    event_data:
      action: call_service
  action:
    service_template: '{{ trigger.event.data.service }}'
    data_template:
      entity_id: '{{ trigger.event.data.entity_id }}'
