homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret longitude
  longitude: !secret latitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Jerusalem
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages
  whitelist_external_dirs:
    - !secret ha_path


  customize_glob:
    'sensor.device_status_*':
       custom_ui_state_card: state-card-custom-ui
       templates:
         theme: "if (state == 'online') return 'info_green'; else return 'alert_red';"
    'sensor.http_status_*':
       custom_ui_state_card: state-card-custom-ui
       templates:
         theme: "if (state == 'up') return 'info_green'; else return 'alert_red';"
    'sensor.hline_*':
       custom_ui_state_card: state-card-hline
       config:
         width: 90 
         height: 0 
         backgroundcolor: white
         bordertop: '1px solid black'
    'sensor.*disk*':
       icon: mdi:harddisk
    'sensor.*cpu_system*':
       entity_picture: /local/icons/cpu.png
    'sensor.*ram*':
       entity_picture: /local/icons/ram.png
    'sensor.deluge*speed*':
       icon: mdi:speedometer
    'sensor*table*':
       icon: mdi:database-search


# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes
  extra_html_url:
    - /local/custom_ui/custom-weather-card.html
  extra_html_url_es5:
    - /local/custom_ui/custom-weather-card.html
  javascript_version: latest

# Enables configuration UI
config:

http:
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
    base_url: !secret duckdns_url
#    ssl_certificate: !secret ssl_certificate
#    ssl_key: !secret ssl_key

logger:
  default: info


recorder:
    # Keep history for 3 days
    purge_keep_days: 3
    db_url: !secret mariadb_url

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

system_health:

# Text to speech
tts:
  - platform: google_translate

# Cloud
cloud:

#vacuum:
#  - platform: xiaomi_miio
#    host: 192.168.1.109
#    token: !secret vacuum_key
#    name: Xiaomi Vacuum

light:
  - platform: xiaomi_miio
    name: Xiaomi Philips Smart LED Ball
    host: !secret miio_hue_ip
    token: !secret xiaomi_hue_token
    model: philips.light.bulb
#  - platform: yeelight
#    devices:
#      !secret yeelight_ip
#        name: Living Room
#        transition: 1000
#        use_music_mode: True #(defaults to False)
#        save_on_change: False #(defaults to True)


media_player:
  - platform: samsungtv
    host: !secret samsung_ip
    port: 8001
    mac: !secret samsung_mac
    timeout: 3
  - platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret

ifttt:
  key: !secret ifttt_key

googlehome:
  devices:
    - host: !secret google_home_one_ip
    - host: !secret google_home_two_ip

device_tracker:
  - platform: bluetooth_tracker
  - platform: snmp
    host: !secret router_ip
    community: public
    baseoid: 1.3.6.1.2.1.3.1.1.2
    track_new_devices: no
    consider_home: 30

telegram_bot:
  - platform: polling
    api_key: !secret telegram_key
    allowed_chat_ids:
     - !secret telegram_chat_id

notify:
  - name: HA_Tele
    platform: telegram
    chat_id: !secret telegram_chat_id
  - name: slack_notifier
    platform: slack
    api_key: !secret slack_key
    default_channel: '#general'
  - platform: html5
    name: push_notifier
    vapid_pub_key: !secret vapid_pub_key
    vapid_prv_key: !secret vapid_prv_key
    vapid_email: !secret vapid_email
#  - name: twilio_whatsapp
#    platform: twilio_whatsapp
#    from_number: !secret twilio_number

google_assistant:
  project_id: homeassistant-8d58d
  api_key: !secret google_api_key
  exposed_domains:
    - SWITCH
    - LIGHT
    - GROUP

weather:
  - platform: darksky
    api_key: !secret darksky_token
    mode: daily

twilio:
  account_sid: !secret twilio_account_sid
  auth_token: !secret twilio_auth_token

sonoff:
  username: !secret sonoff_username
  password: !secret sonoff_password
  api_region: 'eu'

freedns:
  access_token: !secret freedns_token

mqtt:
  password: !secret mqtt_secret

person:
automation: !include automations.yaml
group: !include groups.yaml
script: !include scripts.yaml
